                －－－金庸群侠传玩家规则－－－
 
    「新金庸群侠传」是建立在「东方故事Ⅱ」 mudlib 上的一个ＭＵＤ，我
们的目的是为广大在ＩＮＴＥＲＮＥＴ上玩的，能够读写汉字的朋友们提供一
个消遣时间，谈天说地的地方。当然，就向其他的ＭＵＤ一样，我们需要一套
规则来保证游戏能够正常运行，玩家们能玩的高兴。不愿意遵守以下规则的朋
友请勿加入本游戏，谢谢。
 
    1.请在公开交谈时尽量使用中文。
 
    2.请勿辱骂任何一位巫师或玩家。
 
    3.请用 tell 或 reply 来进行私人交谈。
 
    4.请勿使用易引起混乱或不雅观的中、英文名字。巫师保有更改玩家的中、
      英文名字直至删除其档案的权利。
 
    5.请勿故意使用和他人一模一样的姓名。
 
    6.严禁多人共用一个人物。
 
    7.严禁利用 BUG 牟利，对 BUG 带来的惊喜或打击，巫师一律不负责。对发现 BUG
      并向巫师报告的玩家，视情况给与奖励。
 
    8.严禁在公开场合泄露谜题，机关解法。
 
    9.允许互相ＰＫ，下毒，抢劫，行窃。但禁止恶意的和无限制的ＰＫ，否
      则巫师将有权干涉。
 
梦想工作组（2000.9.9）
